/*
1 creazione del testo e formattazione di 1 parola da far ruotare
2 inserimento delle altre 2 parole
3 sovrapporre le 3 parole
4 mostrare 1 parola e nascondere le altre 2
5 animare 1 parola (fadein - fadeout con spostamento)
6 animare le altre 2 parole
7 ritardare progressivamente l'animazione delle altre 2 parole 
*/

div {
  font-family: "Bree Serif", serif;
  border: 1px solid black;
  width: 500px;
  margin: 20px;
  padding: 20px;
}

@keyframes carrellata {
  0% {
    opacity: 0, 5;
  }
  100% {
    opacity: 0, 7;
  }
}

.parole {
  animation: carrellata 5s ease linear 1s infinite alternate;
}
